<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">

    <th:block th:fragment="content">

<h1>관리자 권한 : 날짜 리스트</h1>

<h2 th:text="${movie.movieName}"></h2>
<h2 th:text="${area.name}"></h2>
<h2 th:text="${specificArea.name}"></h2>

<a class="btn btn-primary" th:text="날짜추가" th:href="@{/{movie_id}/{area_id}/{specific_id}/date_create (movie_id=${movie.id}, area_id=${area.id}, specific_id=${specificArea.id})}"></a>

<div>
    <table class="table table-striped"> <thead>
    <tr>
        <th>#</th>
        <th>이름</th>
    </tr>
    </thead>
        <tbody>
        <tr th:each="date : ${dates}">
            <td th:text="${date.id}"></td>
            <td th:text="${date.localDate}"></td>
            <td>
                <a class="btn btn-primary" th:text="시간" th:href="@{/{movie_id}/{area_id}/{spec_id}/{date_id}/time_table_list
                (movie_id=${movie.id}, area_id=${area.id}, spec_id=${specificArea.id}, date_id=${date.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary" th:text="돌아가기" th:href="@{/{movie_id}/{area_id}/specificArea
(movie_id=${movie.id}, area_id=${area.id})}"></a>

    </th:block>
</th:block>
</html>