<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>관리자 권한 : 영화 시간 추가 화면</h1>

<div>
    <div>
        <p th:value="${movie.name}"></p><br/>
        <p th:value="${area.name}"></p><br/>
        <p th:value="${specificArea.name}"></p><br/>
<!--        <form role="form" th:action="@{/{movie_id}/{area_id}/specificArea/create-->
<!--        (movie_id=${movie.id}, area_id=${area.id})}" th:object="${specificArea}" method="post">-->
<!--            <div>-->
<!--                <label th:for="name">Name : </label>-->
<!--                <input type="text" th:field="*{name}" size="50" placeholder="세부 지역 입력" /><br/>-->
<!--            </div>-->
<!--            <button type="submit">저장</button>-->
<!--        </form>-->
        <div>
            <form role="form" th:action="@{/movie_id}/{area_id}/{spec_id}/date_create
            (movie_id=${movie.id}, area_id=${area.id}, spec_id=${specificArea.id})}" method="post" th:object="date">
                <label for="hour">시간 선택:</label>
                <select name="hour" id="hour" th:field="*{hour}">
                    <option value="" selected>선택</option>
                    <option value="0900">0900</option>
                    <option value="1000">1000</option>
                    <option value="1100">1100</option>
                    <option value="1200">1200</option>
                    <option value="1300">1300</option>
                    <option value="1400">1400</option>
                    <option value="1500">1500</option>
                    <option value="1600">1600</option>
                    <option value="1700">1700</option>
                    <option value="1800">1800</option>
                    <option value="1900">1900</option>
                    <option value="2000">2000</option>
                    <option value="2100">2100</option>
                    <option value="2200">2200</option>
                    <option value="2300">2300</option>
                    <option value="2400">2400</option>
                </select>
                <label for="minute">분 선택:</label>
                <select name="minute" id="minute" th:field="*{minute}">
                    <option value="" selected>선택</option>
                    <option value="00">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                </select>
                <button type="submit">저장</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>