<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>관리자 권한 : 영화 시간 추가 화면</h1>

<div>
    <div>
        <p th:value="${movie.name}"></p><br/>
        <p th:value="${area.name}"></p><br/>
        <p th:value="${specificArea.name}"></p><br/>
<!--        <form role="form" th:action="@{/{movie_id}/{area_id}/specificArea/create-->
<!--        (movie_id=${movie.id}, area_id=${area.id})}" th:object="${specificArea}" method="post">-->
<!--            <div>-->
<!--                <label th:for="name">Name : </label>-->
<!--                <input type="text" th:field="*{name}" size="50" placeholder="세부 지역 입력" /><br/>-->
<!--            </div>-->
<!--            <button type="submit">저장</button>-->
<!--        </form>-->
        <div>
            <form role="form" th:action="@{/movie_id}/{area_id}/{spec_id}/date_create
            (movie_id=${movie.id}, area_id=${area.id}, spec_id=${specificArea.id})}" method="post" th:object="date">
                <label for="year">년도 선택:</label>
                <select name="year" id="year" th:field="*{year}">
                    <option value="" selected>선택</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
                <label for="month">월 선택:</label>
                <select name="month" id="month" th:field="*{month}">
                    <option value="" selected>선택</option>
                    <option value="01">1월</option>
                    <option value="02">2월</option>
                    <option value="03">3월</option>
                    <option value="04">4월</option>
                    <option value="05">5월</option>
                    <option value="06">6월</option>
                    <option value="07">7월</option>
                </select>
                <label for="day">일 선택:</label>
                <select name="day" id="day" th:field="*{day}">
                    <option value="" selected>선택</option>
                    <option value="01">1일</option>
                    <option value="02">2일</option>
                    <option value="03">3일</option>
                    <option value="04">4일</option>
                    <option value="05">5일</option>
                    <option value="06">6일</option>
                    <option value="07">7일</option>
                </select>
                <button type="submit">저장</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>