<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class = "movie_select_container">
        <div class ="movie_header">
            <span class="reserv_title">영화</span>
        </div>
        <div class="movie_contents">
            <div class="reserv_title_back"></div>
            <div class = "movie_contents_box">
                <ul th:object=${areaSearch} th:each="movie: ${movies}">
                    <li th:text="${movie.movieName}" th:action="@{/reservation/createV2}"
                        th:value="${movie.movieName}" th:field="*{movieName}"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="movie_info_container">
        <div class="movie_theater_container">
            <div class="reserv_title">극장</div>
            <div class="movie_theater_box">
                <!-- 영화 지역 선택 -->
                <div class="movie_theater_area_list">
                    <ul th:each="area : ${areas}">
                        <li th:text="${area.name}"></li>
                    </ul>

                </div>
                <!-- 영화 상영관 선택 -->
                <div class="movie_theater_area_detail_list">
                    <select size="8" onchange="SelectTheaterDetail(this);">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
        </div>

    <form role="form" action="/reservation/create" method="post">
        <div class="form-group">
            <label for="member">예약회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.memberName}" />
            </select>
        </div>
        <div class="form-group">
            <label for="movie">영화제목</label>
            <select name="movieId" id="movie" class="form-control">
                <option value="">영화선택</option>
                <option th:each="movie : ${movies}" th:value="${movie.id}" th:text="${movie.movieName}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</div>
</body>
</html>
