<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header"/> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <div>
            <div>
                <form th:object="${reservationSearch}" class="form-inline">
                    <div class="form-group mb-2">
                    <input type="text" th:field="*{memberName}" class="form- control" placeholder="회원명"/>
                    <input type="text" th:field="*{movieName}" class="form- control" placeholder="영화명"/>
                    </div>
                        <div class="form-group mx-sm-1 mb-2">
                            <select th:field="*{orderStatus}" class="form-control"> <option value="">주문상태</option>
                                <option th:each="status : ${T(ChanuE.MovieTheater.domain.ReservationStatus.values()}"
                                        th:value="${status}"
                                        th:text="${status}">option
                                </option>
                            </select>
                        </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
                </form>
            </div>
            <table class="table table-striped"> <thead>
                <tr>
                    <th>#</th>
                    <th>회원명</th> <th>예약자 성함</th>
                    <th>영화 이름</th> <th>예약 상태</th>
                </tr>
                </thead>
                    <tbody>
                    <td th:each="reservation : ${reservations}">
                        <td th:text="${reservation.id}"></td>
                        <td th:text="${reservation.member.memberName}"></td>
                        <td th:text="${reservation.movie.movieName}"></td>
                        <td th:text="${reservation.status}"></td>
                        <td>
                            <a th:if="${reservation.status.name() == 'RESERVED'}" href="#" th:href="'javascript:cancel('+${reservation.id}+')'"
                               class="btn btn-danger">CANCEL</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    <div th:replace="fragments/footer :: footer"/> </div> <!-- /container -->
</body>
<script>
function cancel(id) {
var form = document.createElement("form"); form.setAttribute("method", "post"); form.setAttribute("action", "/reservation/" + id + "/cancel"); document.body.appendChild(form);
form.submit();

 } </script>
</html>