<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>관리자 권한 : 지역 추가 화면</h1>

<div>
    <div>
        <p th:value="${movie.name}"></p><br/>
        <form role="form" th:action="@{/{id}/area/create (id=${movie.id})}" th:object="${area}" method="post">
            <div>
                <label th:for="name">Name : </label>
                <input type="text" th:field="*{name}" size="50" placeholder="지역 입력" /><br/>
            </div>
            <button type="submit">저장</button>
        </form>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>