@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{ 
    width: 70%;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, 
blockquote, th, td, figure {
  margin: 0;
  padding: 0;
  font-family:  Arial, Helvetica, sans-serif;
}

a:link, a:hover, a:visited, a:active {
    text-decoration:none;
    color:#000;
}

/* Header */
.header{
    background-color:wheat;
}

.header h1{
    background-color: rgb(44, 62, 80);
    text-align: center;
    padding: 30px;
    color: white;
    font-family:  'Hanna', serif;
}
/* /Header */

/* Body */
.container{
    border: 1px dotted gray;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Login */
.login_form{
    flex-basis: 0;
    flex:1;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.login_input{
    display: flex;
    margin: 5px;
}

.login_input label{
    background-color: rgb(224, 224, 224);
    border: 1px solid  rgb(180, 180, 180);
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    font-family: 'nanumgothic', sans-serif;
    font-weight: bold;
    flex-basis: 65px;
    flex-grow: 0;
    position: relative;
}
.login_input input{
    height: 50px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    flex-grow: 1;
}
.login_input span{
    font-size: 25px;
    position:absolute;
    left: 15px;
    top:5px;
    color: rgb(151, 150, 150);
}

.container button{
    width: 300px;
    margin-top: 10px;
    background-color: rgb(94,94,94);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: 'nanumgothic', sans-serif;
    font-size: 0.8rem;
}

.container button:hover{
    width: 300px;
    margin-top: 10px;
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
    padding: 5px;
    color: rgb(56, 55, 55);
    font-weight: bold;
    font-family: 'nanumgothic', sans-serif;
    font-size: 0.8rem;
}



#back_button{
    align-self: flex-start;
    width: 45px;
    height: 45PX;
    font-size: 2rem;
    margin: 10PX;
    display: flex;
}


/* Sign up */
.signup{
    align-self: stretch;
}
.signup form{
    display: flex;
    flex-direction: column;
}
.signup form div{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 70%;
    margin: 30px 0px 30px 0px;
    display: flex;
}

.signup form div button{
    align-self: center;
    height: 50PX;
    width: 300px;
    margin-top: 10px;
    color: white;
    font-size: 1.1rem;
}

.signup form div button:hover{
    width: 300px;
    height: 50PX;
    font-size: 1.1rem;
}
.signup .signup_label{
    display: block;
    font-size: 1.3rem;
    flex-basis: 100px;
    align-self: center;
    font-family: 'Hanna','Serif';
}
.signup form input{
    flex-basis: 300px;
    height: 55px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0px 0px 0px 20px;
}