<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">

    <th:block th:fragment="content">

<h1>관리자 권한 : 시간 리스트!</h1>

<h2 th:text="${movie.movieName}"></h2>
<h2 th:text="${area.name}"></h2>
<h2 th:text="${specificArea.name}"></h2>
<h2 th:text="${date.localDate}"></h2>

<a class="btn btn-primary" th:text="시간추가" th:href="@{/{movie_id}/{area_id}/{specific_id}/{date_id}/time_table_create
(movie_id=${movie.id}, area_id=${area.id}, specific_id=${specificArea.id}, date_id=${date.id})}"></a>

<div>
    <table class="table table-striped"><thead>
    <tr>
        <th>#</th>
        <th>이름</th>
    </tr>
    </thead>
        <tbody>
        <tr th:each="time : ${timeTables}">
            <td th:text="${time.id}"></td>
            <td th:text="${time.time}"></td>
        </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary" th:text="돌아가기" th:href="@{/{movie_id}/{area_id}/{specific_id}/date_list
(movie_id=${movie.id}, area_id=${area.id}, specific_id=${specificArea.id})}"></a>

    </th:block>
</th:block>
</html>