<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">

    <th:block th:fragment="content">

<h1>관리자 권한 : 영화 시간 추가 화면</h1>

<div>
    <div>
        <p th:value="${movie.movieName}"></p><br/>
        <p th:value="${area.name}"></p><br/>
        <p th:value="${specificArea.name}"></p><br/>
        <p th:value="${date.localDate}"></p><br/>
        <div>
            <form th:action="@{/{movie_id}/{area_id}/{spec_id}/{date_id}/time_table_done
            (movie_id=${movie.id}, area_id=${area.id}, spec_id=${specificArea.id}, date_id=${date.id})}" th:object="${timeTable}">
                <label>시간 선택:</label>
                <select th:field="*{hour}">
                    <option th:each="i : ${#numbers.sequence(0, 23)}" th:value="${i}" th:text="${i} + '시'"></option>
                </select>
                <label>분 선택:</label>
                <select th:field="*{minute}">
                    <option th:each="i : ${#numbers.sequence(0, 59)}" th:value="${i}" th:text="${i} + '분'"></option>
                </select>
                <input type="submit" value="제출하기">
            </form>
        </div>
    </div>
</div>
    </th:block>
</th:block>
</html>