<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" />
</head>
<body>
<div>
    <h1>영화 목록</h1>

    <a class="btn btn-primary" href="/movie/create">영화 생성</a>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.name}"></td>
                <td>
                    <a class="btn btn-primary" th:text="지역" th:href="@{/{id}/area (id=${movie.id})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>