<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h1 class="mt-4">[[${result.movieName}]]</h1>

        <div class="form-group">
            <label >Title</label>
            <input class="form-control" th:value="${result.movieName}" name="title" readonly>
        </div>
        <div class="form-group">
            <img th:if="${result.movieImageDTO.path != null}"
                 th:src="|/display?filePath=${result.movieImageDTO.getImageURL()}|">
        </div>
        <div class="form-group">
            <label >Director</label>
            <input class="form-control" th:value="${result.director}" name="director" readonly>
        </div>
        <div class="form-group">
            <label >Running Time</label>
            <input class="form-control" th:value="${result.runningTime}" name="runningTime" readonly>
        </div>
        <div class="form-group">
            <label >Review Average</label>
            <input class="form-control" th:value="${result.gradeAvg}" name="gradeAvg" readonly>
        </div>

        <a class="btn btn-warning" th:href="@{/movies/info(page=${pageRequestDTO.page})}">돌아가기</a>
        <button type="button" class="btn btn-primary">
            Review Count <span class="badge badge-light">[[${result.reviewCnt}]]</span>
        </button>
        <button type="button" class="btn btn-light addReview">리뷰 작성</button>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">리뷰 작성</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <Label >리뷰 내용</Label>
                            <input class="form-control" type="text" name="content" placeholder="정말 잘만든 영화에요!">
                        </div>
                        <div class="form-group">
                            <Label >평점 <span class="grade"></span></Label>
                            <div class="starrr"></div>
                        </div>
                        <div class="form-group">
                            <Label >작성자</Label>
                            <input class="form-control" type="text" name="writer" placeholder="작성자">
                            <input type="hidden" name="id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger reviewRemove">Remove</button>
                        <button type="button" class="btn btn-warning reviewModify">Modify</button>
                        <button type="button" class="btn btn-primary reviewSave">Save changes</button>
                        <button type="button" class="btn btn-outline-secondary reviewClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviewList">

        </div>

        <script th:src="@{/starrr.js}"></script>
        <link th:href="@{/css/starrr.css}" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <script th:inline="javascript">

            $(document).ready(function(){
                var reviewList = $(".reviewList");
                var movieId = [[${result.id}]];
                var modal = $(".modal");
                var grade = 1;

                $('.starrr').starrr({
                    rating: grade,
                    change: function(e, value) {
                        if (value) {
                            console.log(value);
                            grade = value;
                        }
                    }
                });

                $.getJSON("/reviews/"+movieId, function(arr){
                    console.log(arr);
                    // 리뷰 화면 재조정.
                    makeReviewPage(arr);
                });

                $(".reviewList").on("click", ".page-link", function(){

                    var page = $(this).data("page");

                    $.ajax({
                        url: "/reviews/"+movieId+"/?page="+page,
                        method: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function(arr){
                            console.log(arr);
                            // 리뷰 화면 재조정.
                            makeReviewPage(arr);
                        }
                    });

                });

                // API GET 요청으로 Review를 가져오면 가져온 정보를 토대로 리뷰 화면 다시 조정.
                function makeReviewPage(arr) {
                    var data = arr["dtoList"];
                    var str = "";

                    $.each(data, function(idx, review){

                        str += "<div class='card m-3 reviewBody' data-id='"+review.id+"'>";
                        str += "<h5 class='card-body reviewContent'>"+review.content+"</h5>";
                        str += "<h6 class='card-footer reviewWriter'>"+review.writer+"</h6>";
                        str += "<h6 class='card-footer reviewGrade'>"+review.grade+"</h6>";
                        str += "</div>";

                    });

                    str += "<ul class='pagination h-100 justify-content-center align-items-center'>";
                    if(arr.prev) {
                        str += "<li class='page-item'>";
                        str += "<a class='page-link' data-page='"+(arr.start - 1)+"' tabindex='-1'>PREVIOUS</a>"
                        str += "</li>";
                    }

                    for(var pageIndex = 0; pageIndex < arr.pageList.length; pageIndex++) {
                        str += "<li>";
                        str += "<a class='page-link' data-page='"+arr.pageList[pageIndex]+"'>"+arr.pageList[pageIndex]+"</a>";
                        str += "</li>";
                    }

                    if(arr.next) {
                        str += "<li class='page-item'>";
                        str += "<a class='page-link' data-page='"+(arr.end + 1)+"'>NEXT</a>"
                        str += "</li>";
                    }
                    str += "</ul>";

                    console.log(str);

                    reviewList.html(str);
                }

                // 리뷰 추가 버튼 눌렀을 때!
                $(".addReview").on("click", function() {

                    modal.modal("show");

                    $('input[name="content"]').val('');
                    $('input[name="writer"]').val('');

                    $('.modal-footer .btn').hide(); // 버튼 다 가리고
                    $('.reviewSave, .reviewClose').show(); // 필요한 버튼만 보이게

                });

                // 리뷰 모달창에서 저장 버튼 누를때!
                $(".reviewSave").on("click", function() {

                    var data = {
                        movieId: movieId,
                        content: $('input[name="content"]').val(),
                        writer: $('input[name="writer"]').val(),
                        grade: grade
                    }

                    $.ajax({
                        url: '/reviews/',
                        method: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function(result){
                            console.log(result);
                            var newId = parseInt(result);
                            alert(newId + "번 리뷰가 등록되었습니다!");
                            self.location.reload();
                        }
                    })

                });

                $(".reviewList").on("click", ".reviewBody", function() {

                    var id = $(this).data('id');
                    $('input[name="content"]').val($(this).find(".reviewContent").html());
                    $('input[name="writer"]').val($(this).find(".reviewWriter").html());
                    $('input[name="id"]').val(id);

                    var grade = $(this).find('.reviewGrade').html();
                    $(".starrr a:nth-child("+grade+")").trigger("click");

                    $('.modal-footer .btn').hide();
                    $('.reviewRemove, .reviewModify, .reviewClose').show();

                    modal.modal('show');

                });

                $(".reviewRemove").on("click", function() {

                    var id = $('input[name="id"]').val();

                    $.ajax({
                        url: "/reviews/"+id,
                        method: "DELETE",
                        contentType: "application/json; charset=utf-8",
                        success: function(result){
                            alert(result + "번 리뷰 삭제!!");
                            self.location.reload();
                        }
                    });

                });

                $(".reviewModify").on("click", function() {

                    var id = $('input[name="id"]').val();
                    var data = {
                        id: id,
                        content: $('input[name="content"]').val(),
                        grade: grade
                    }

                    $.ajax({
                        url: "/reviews/"+id,
                        method: "PUT",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function(result) {
                            alert(result + "번 리뷰 수정 완료!!");
                            self.location.reload();
                        }
                    })

                });

            });

        </script>

    </th:block>
</th:block>

</html>