<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div>
            <h1 class="mt-4">Movie List
                <span>
                    <a th:href="@{/movies/create}">
                        <button type="button" class="btn btn-outline-primary">CREATE</button>
                    </a>
                </span>
            </h1>

            <div>
                <form th:action="@{/movies/list}" th:object="${MovieSearch}" class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" th:field="*{movieName}" class="form-control" placeholder="영화명"/>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">검색</button>
                </form>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${result.dtoList}">
                    <td>[[${movie.id}]]</td>
                    <td>[[${movie.movieName}]]</td>
                    <td>
                        <a class="btn btn-primary" th:text="지역" th:href="@{/{id}/area (id=${movie.id})}"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item " th:if="${result.prev}">
                    <a class="page-link" th:href="@{/movies/list(page=${result.start-1})}" tabindex="-1">PREVIOUS</a>
                </li>
                <li th:class=" 'page-item ' + ${result.page == page?'active':''}" th:each="page : ${result.pageList}">
                    <a class="page-link" th:href="@{/movies/list(page=${page})}">[[${page}]]</a>
                </li>
                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/movies/list(page=${result.end+1})}">NEXT</a>
                </li>
            </ul>

        </div>
    </th:block>
</th:block>
</html>