<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container">
            <div>
                <form th:action="@{/movies/public/search}" th:object="${moviePublicSearch}" method="get">
                    <label for="title" />
                    <input type="text" id="title" th:field="*{title}">
                    <button type="submit" class="btn btn-secondary">검색</button>
                </form>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:if="${movie.image != null}"><img th:src="${movie.image}" /></td>
                    <td th:text="${movie.title}"></td>
                    <td th:text="${movie.director}"></td>
                    <td th:text="${movie.userRating}"></td>
                    <td>
                        <button type="button" class="btn btn-danger" th:attr="data-title=${movie.title}, data-director=${movie.director},
                                    data-image=${movie.image}">추가</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <script th:inline="javascript">

            $(document).ready(function() {
                $(".btn-danger").on("click", function() {
                    var title = $(this).data("title");
                    var director = $(this).data("director");
                    var image = $(this).data("image");

                    console.log(title);
                    console.log(director);
                    console.log(image);

                    var sendData = {
                        "title": title,
                        "director": director,
                        "image": image
                    }

                    var form = document.createElement("form");

                    form.setAttribute("charset", "UTF-8");
                    form.setAttribute("method", "Get");
                    form.setAttribute("action", "/movies/public/modify");

                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "title");
                    hiddenField.setAttribute("value", title);
                    form.appendChild(hiddenField);

                    hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "director");
                    hiddenField.setAttribute("value", director);
                    form.appendChild(hiddenField);

                    hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "image");
                    hiddenField.setAttribute("value", image);
                    form.appendChild(hiddenField);

                    document.body.appendChild(form);
                    form.submit();

                    //$.ajax({
                    //    url: "/movies/api/save",
                    //    data: JSON.stringify(sendData),
                    //    processData: false,
                    //    contentType: "application/json; charset=utf-8",
                    //    method: "POST",
                    //    success: function(result) {
                    //        alert(result);
                    //        window.location.href = "/";
                    //    },
                    //    error: function(result) {
                    //        alert(result);
                    //    }
                    //});

                });
            });

        </script>

    </th:block>
</th:block>
</html>