<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div>
            <h1 class="mt-4">Movie List
                <span>
                    <a th:href="@{/movie/create}">
                        <button type="button" class="btn btn-outline-primary">CREATE</button>
                    </a>
                </span>
            </h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${result.dtoList}">
                    <td>[[${movie.id}]]</td>
                    <td>[[${movie.movieName}]]</td>
                    <td>
                        <a class="btn btn-primary" th:text="지역" th:href="@{/{id}/area (id=${movie.id})}"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item " th:if="${result.prev}">
                </li>
                <li th:class=" 'page-item ' + ${result.page == page?'active':''}" th:each="page : ${result.pageList}"}>
                    <a class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:if="${result.next}">
                </li>
            </ul>

        </div>
    </th:block>
</th:block>
</html>