<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>지역별 구체적 지역 추가 화면</title>
</head>
<body>

<h1>관리자 권한 : 구체적 지역 화면</h1>

<h2 th:text="${movie.name}"></h2>
<h2 th:text="${area.name}"></h2>

<a class="btn btn-primary" th:text="세부지역추가" th:href="@{/{movie_id}/{area_id}/specificArea/create
(movie_id=${movie.id}, area_id=${area.id})}"></a>

<div>
    <table class="table table-striped"> <thead>
    <tr>
        <th>#</th>
        <th>이름</th>
    </tr>
    </thead>
        <tbody>
        <tr th:each="specificArea : ${specificArea}">
            <td th:text="${specificArea.id}"></td>
            <td th:text="${specificArea.name}"></td>
            <td>
                <a th:text="날짜" th:href="@{/{movie_id}/{area_id}/{spec_id}/date_list
                (movie_id=${movie.id}, area_id=${area.id}, spec_id=${specificArea.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary" th:text="돌아가기" th:href="@{/{movie_id}/area (movie_id =${movie_id})}"></a>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>