<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <link href="/css/reservation-form.css" rel="stylesheet">

        <div class="reserve-container">
            <div class="movie-part">
                <div class="reserve-title">영화</div>
                <div class="movie-list movieList"></div>
            </div>
            <div class="theater-part">
                <div class="reserve-title">극장</div>
                <div class="area-list areaList">영화를 먼저 선택해주세요!</div>
            </div>
            <div class="theater-part">
                <div class="reserve-title">극장지역</div>
                <div class="area-list specificAreaList">영화와 지역을 먼저 선택해 주세요!</div>
            </div>
            <div class="day-part">
                <div class="reserve-title">날짜</div>
                <div class="reserve-date"></div>
            </div>
            <div class="time-part">
                <div class="reserve-title">시간</div>
                <div class="time-list timeList"></div>
            </div>

        </div>

        <script th:inline="javascript">
            $(document).ready(function() {

                var movieList = $(".movieList");
                var areaList = $(".areaList");
                var specificAreaList = $(".specificAreaList");
                var timeList = $(".timeList");

                const date = new Date();
                const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
                //var reserveDate = document.querySelector(".reserve-date");
                var reserveDate = $(".reserve-date");
            
                const weekOfDay = ["일", "월", "화", "수", "목", "금", "토"];
                const year = date.getFullYear();
                const month = date.getMonth() + 1;

                // 처음 영화 목록.
                $.getJSON("/movies", function(arr) {

                    var str = "";
                    var data = arr["data"];

                    $.each(data, function(idx, movie){
                        str += "<div class='movie-body' data-id=" + movie.id + ">";  // areaId 하면 오류.. 소문자만
                        str += "<h5 class='card-body'>" + movie.movieName + "</h5>";
                        str += "</div>";
                    });
                    movieList.html(str);
                });

                
                $(".specificAreaList").on("click", ".specific-body", function() {
                    
                    var movieId = $(this).data("movieid");
                    var area = $(this).data("area");
                    var specificArea = $(this).data("specific");

                    reserveDate.html("");

                    $.getJSON("/cinemas/date/"+movieId+"?area="+area+"&specific="+specificArea, function(arr){
                        console.log(arr);

                        var data = arr["data"];
                        var size = arr["size"];
                        var idx = 0;
                        console.log(data[idx].day);

                        for (var i = 0; i < size; i++) {
                            if(date.getDate() <= data[idx].day) {
                                break;
                            }
                            idx++;
                        }

                        for (var i = date.getDate(); i <= lastDay.getDate(); i++) {

                            console.log(i);
                            const button = document.createElement("button");
                            const spanWeekOfDay = document.createElement("span");
                            const spanDay = document.createElement("span");

                            //class넣기
                            //button.classList = "movie-date-wrapper";
                            spanWeekOfDay.classList = "movie-week-of-day";
                            spanDay.classList = "movie-day";

                            //weekOfDay[new Date(2020-03-날짜)]
                            const dayOfWeek = weekOfDay[new Date(year + "-" + month + "-" + i).getDay()];

                            //요일 넣기
                            if (dayOfWeek === "토") {
                                spanWeekOfDay.classList.add("saturday");
                                spanDay.classList.add("saturday");
                            } else if (dayOfWeek === "일") {
                                spanWeekOfDay.classList.add("sunday");
                                spanDay.classList.add("sunday");
                            }
                            spanWeekOfDay.innerHTML = dayOfWeek;
                            button.append(spanWeekOfDay);
                            //날짜 넣기
                            spanDay.innerHTML = i;
                            button.append(spanDay);
                            //button.append(i);

                            if(size > idx) {
                                if(data[idx].day == i){
                                    button.classList = "movie-date-wrapper";
                                    console.log("같음");
                                    idx++;
                                }else{
                                    button.classList = "movie-date-transparent";
                                    button.disabled = true;
                                }
                            }else{
                                button.classList = "movie-date-transparent";
                                button.disabled = true;
                            }

                            // 시간을 가져오기 위한 커스텀 attribute
                            button.setAttribute("area", area);
                            button.setAttribute("specific", specificArea);
                            button.setAttribute("year", year);
                            button.setAttribute("month", month);
                            button.setAttribute("day", i);
                            button.setAttribute("movieid", movieId);

                            reserveDate.append(button);

                            dayClickEvent(button);
                        }

                        timeList.html("");

                    });

                });

                // 날짜 클릭 했을 때 시간 가져오기!
                function dayClickEvent(button) {
                    button.addEventListener("click", function() {
                        const movieDateWrapperActive = document.querySelectorAll(".movie-date-wrapper-active");
                        movieDateWrapperActive.forEach((list) => {
                            list.classList.remove("movie-date-wrapper-active");
                        })
                        button.classList.add("movie-date-wrapper-active");

                        var area = button.getAttribute("area");
                        var specific = button.getAttribute("specific");
                        var year = button.getAttribute("year");
                        var month = button.getAttribute("month");
                        var day = button.getAttribute("day");

                        var movieId = button.getAttribute("movieid");

                        $.ajax({
                            url: "/times/"+movieId+"?area="+area+"&specific="+specific+"&year="+year+"&month="+month+"&day="+day,
                            contentType: "application/json; charset=UTF-8",
                            method: "GET",
                            dataType: "json",
                            success: function(result) {
                                console.log(result);

                                var data = result["data"];
                                var str = "";

                                $.each(data, function(idx, time) {
                                    str += "<div class='time-body'>";
                                    str += "<h5>"+time.display+"</h5>";
                                    str += "<h5>"+time.cinemaName+"</h5>";
                                    str += "<h4>"+time.time+"</h4>";
                                    str += "<h5>총 좌석 :"+time.seatNum+"</h5>";
                                    str += "<h4>잔여 좌석 :"+time.availableNum+"</h4>";
                                    str += "<button type='button' data-movieid="+movieId+" data-area="+area+
                                            " data-specific="+specific+" data-year="+year+" data-month="+month+
                                            " data-day="+day+" data-timeid="+time.id+" class='reserve btn btn-primary'>예약하러가기</a>"
                                        // href='/reservations/seats/"+time.id+"'
                                    str += "</div>";
                                });

                                timeList.html(str);
                            }
                        });
                    })
                }


                // 영화 제목 클릭시 지역 보이게!
                $(".movieList").on("click", ".movie-body" ,function() {

                    var movieId = $(this).data("id");

                    $.getJSON('/theaters/area/'+movieId, function(arr) {

                        var str = "";

                        var data = arr["data"];

                        $.each(data, function(idx, area){

                            console.log(idx + " : " + area);
                            str += "<div class='area-body' data-movieid="+movieId+" data-area=" + area.area + ">";  // areaId 하면 오류.. 소문자만
                            str += "<h5 class='card-body'>" + area.area + " (" + area.specificCnt + ")</h5>";
                            str += "</div>";

                        });

                        areaList.html("");
                        reserveDate.html("");
                        timeList.html("");
                        areaList.html(str);
                        specificAreaList.html("영화와 지역을 먼저 선택해주세요!");

                    });

                });

                // 지역 클릭시 구체적인 지역 보이게!
                $(".areaList").on("click", ".area-body", function() {

                    var area = $(this).data("area");
                    var movieId = $(this).data("movieid");

                    $.getJSON('/theaters/specificArea/?area='+area+'&movieId='+movieId, function(arr) {

                        var str = "";

                        var data = arr["data"];

                        $.each(data, function(idx, specificArea){

                            console.log(idx + " : " + specificArea);
                            str += "<div class='specific-body' data-movieid="+ movieId + " data-area=" + area + 
                            " data-specific=" + specificArea.specificArea + ">";
                            str += "<h5 class='card-body'>" + specificArea.specificArea + "</h5>";
                            str += "</div>";

                        });

                        reserveDate.html("");
                        timeList.html("");
                        specificAreaList.html(str);

                    });

                });

            });

            $(".timeList").on("click", ".reserve", function() {
                
                var movieId = $(this).data("movieid");
                var area = $(this).data("area");
                var specific = $(this).data("specific");
                var year = $(this).data("year");
                var month = $(this).data("month");
                var day = $(this).data("day");
                var timeId = $(this).data("timeid");

                var form = document.createElement("form");

                form.setAttribute("method", "POST");
                form.setAttribute("charset", "utf-8");
                form.setAttribute("action", "/reservations/seats/"+timeId);

                var input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "movieId");
                input.setAttribute("value", movieId);
                form.appendChild(input);

                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "area");
                input.setAttribute("value", area);
                form.appendChild(input);

                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "specific");
                input.setAttribute("value", specific);
                form.appendChild(input);

                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "year");
                input.setAttribute("value", year);
                form.appendChild(input);

                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "month");
                input.setAttribute("value", month);
                form.appendChild(input);

                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "day");
                input.setAttribute("value", day);
                form.appendChild(input);

                document.body.appendChild(form);
                form.submit();

            });


            // 다음 할일 : 구체적 지역까지 띄우고 다시 영화 이름 눌렀을 때 다 삭제 되게 해야 될듯
            // 아니면 초기화 버튼도 좋고, 일단 cgv 사이트 참고해서 만들어보자

            // 예약관련 비즈니스 로직도 싹 다듬어야 될듯

        </script>

    </th:block>
</th:block>
</html>
