<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/content :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <style>
         .box1 {
          float:left;
          }
         .box2 {
          display:inline-block; margin-left:10px;
          }
        </style>

        <div>
            <div class="box1 movieList">

            </div>
            <div class="box2 areaList">

            </div>
            <div class="list-group specificAreaList">

            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function() {

                var movieList = $(".movieList");
                var areaList = $(".areaList");
                var specificAreaList = $(".specificAreaList");

                $.getJSON("/movies", function(arr) {

                    var str = "";
                    var data = arr["data"];

                    $.each(data, function(idx, movie){
                        str += "<div class='movie-body' data-id=" + movie.id + ">";  // areaId 하면 오류.. 소문자만
                        str += "<h5 class='movie-title'>" + movie.movieName + "</h5>";
                        str += "</div>";
                    });
                    movieList.html(str);
                });

                // 영화 제목 클릭시 지역 보이게!
                $(".movieList").on("click", ".movie-body" ,function() {

                    var movieId = $(this).data("id");

                    $.getJSON('/theaters/area/'+movieId, function(arr) {

                        var str = "";

                        var data = arr["data"];

                        $.each(data, function(idx, area){

                            console.log(idx + " : " + area);
                            str += "<div class='area-body' data-movieid="+movieId+" data-area=" + area.area + ">";  // areaId 하면 오류.. 소문자만
                            str += "<h5 class='area-title'>" + area.area + " (" + area.specificCnt + ")</h5>";
                            str += "</div>";

                        });

                        areaList.html(str);
                        specificAreaList.html("");

                    });

                });

                // 지역 클릭시 구체적인 지역 보이게!
                $(".areaList").on("click", ".area-body", function() {

                    var area = $(this).data("area");
                    var movieId = $(this).data("movieid");

                    $.getJSON('/theaters/specificArea/?area='+area+'&movieId='+movieId, function(arr) {

                        var str = "";

                        var data = arr["data"];

                        $.each(data, function(idx, specificArea){

                            console.log(idx + " : " + specificArea);
                            str += "<div class='specific-body'>";
                            str += "<h5 class='specific-title'>" + specificArea.specificArea + "</h5>";
                            str += "</div>";

                        });

                        specificAreaList.html(str);

                    });

                });

            });


            // 다음 할일 : 구체적 지역까지 띄우고 다시 영화 이름 눌렀을 때 다 삭제 되게 해야 될듯
            // 아니면 초기화 버튼도 좋고, 일단 cgv 사이트 참고해서 만들어보자

            // 예약관련 비즈니스 로직도 싹 다듬어야 될듯

        </script>

    </th:block>
</th:block>
</html>
